<div class="post-container">
  <%= render 'shared/navbar' %>
  <section id="section2" class="color-bg" style="background-color: #011712;">
    <div class="banner">
      <div class="blog-title-signoff">
        <div class="breadcrumb-container">
          <ol class="breadcrumb">
            <!-- Home Link -->
            <li class="breadcrumb-item">
              <a href="/">Home</a>
            </li>

            <!-- Blogs Link -->
            <li class="breadcrumb-item">
              <a href="/blogs">Blogs</a>
            </li>

            <li class="breadcrumb-item">
              <a href="/blogs?category=<%=@post.fields[:category]%>"><%= @post.fields[:category].sub("_", " ").capitalize %></a>
            </li>

            <li class="breadcrumb-item active"  aria-current="page">
              <a href="<%= blogs_post_path(@post.fields[:slug])%>"> <%= @post.fields[:title] %></a>
            </li>

          </ol>
        </div>
        <div>
          <h1 class="blog-title"><%= @post.fields[:title] %></h1>
          <p class="sign-off">Written by <%= @post.fields[:written_by] %></p>
          <p class="sign-off"><%= @post.fields[:date].strftime("%B %d, %Y") %></p>

        </div>
      </div>
      <div class="blog-photo-div">
        <% if  @post.fields[:blog_image].present? %>
          <% image_url = "https:" +  @post.fields[:blog_image].url %>
          <%= image_tag image_url, alt: "Blog Image", class: "card-img-top blog-photo" %>
        <% else %>
          <%= image_tag "chihuaha.png", alt:"Picture of a Chihuaha sticking it's tongue out", class: "w-100 blog-photo" %>
        <% end %>
      </div>
    </div>
  </section>

  <%# <section id="section3" class="color-bg" style="background-color: #F4CEE2;"> %>
  <div class="blog-section">
    <div class="blog-intro d-flex flex-column">
      <h1 class="font-abril title-blog-section">WHAT TO EXPECT</h1>
      <p class="font-michroma pt-4 blog-intro-text"><%= @post.fields[:description] %></p>
    </div>
  </div>
  <%# </section> %>

  <section id="section4" class="color-bg blog-section-content" style="background-color: #EFEDE7;">
    <div class="sticky table-of-contents">
      <h1 class="font-abril contents-title">TABLE OF CONTENTS</h1>
      <ul>
        <% @post.fields[:table_of_contents].each do |post| %>
        <li class="green-text font-michroma"><%= post %></li>
        <% end %>
      </ul>
    </div>
    <div class="green-text post-content font-michroma m-5">
      <% if @post.fields[:content].present? %>
        <% content = @post.fields[:content]["content"] %>

        <% if content.is_a?(Array) %>
          <% content.each do |node| %>
            <% case node["nodeType"] %>
            <% when "paragraph" %>
              <% # Render text paragraphs %>
              <% text = node["content"].map { |text_node| text_node["value"] }.join %>
              <p><%= text %></p>
            <% when "embedded-asset-block" %>
              <% # Render images in the correct order %>
              <% asset = node["data"]["target"] %>
              <% if asset.is_a?(Contentful::Asset) %>
                <% image_url = asset.file.url %>
                <% alt_text = asset.title || "Embedded Image" %>
                <%= image_tag "https:#{image_url}", alt: alt_text, class: "content-image" %>
              <% end %>
            <% when "heading-1", "heading-2", "heading-3", "heading-4", "heading-5", "heading-6" %>
              <% # Render headings dynamically based on their type %>
              <% text = node["content"].map { |text_node| text_node["value"] }.join %>
              <%= content_tag node["nodeType"].gsub("heading-", "h"), text, class: "post-heading" %>
            <% end %>
          <% end %>
        <% else %>
          <p>Content format is not as expected.</p>
        <% end %>
      <% else %>
        <p>No content available.</p>
      <% end %>
    </div>
  </section>
</div>
