<h1>New Contact Form Submission</h1>
<p><strong>Service:</strong> <%= @contact_form.service %></p>
<p><strong>Name:</strong> <%= @contact_form.name %></p>
<p><strong>Phone:</strong> <%= @contact_form.phone %></p>
<p><strong>Email:</strong> <%= @contact_form.email %></p>
<p><strong>Postcode:</strong> <%= @contact_form.postcode %></p>
<p><strong>Message:</strong> <%= @contact_form.message %></p>
<p><strong>Consent:</strong> <%= @contact_form.gdpr_consent ? 'Yes' : 'No' %></p>
